<div class="body2UpdatePassword">
    <section class="side">
        <img src="../../assets/image/img.svg" alt="">
    </section>

    <section class="main">
        <div class="login-container">
            <p class="title">Update Password</p>
            <div class="separator"></div>
            <p class="welcome-message">Please, Masukan password lama dan masukan password baru</p>
            <form class="login-form" #loginUser="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-control2">
                    <input type="text" placeholder="Passwordlama" name="username" [(ngModel)]="UpdateModel.passwordlama">
                    <i class="fas fa-user"></i>
                </div>
                <div class="form-control2">
                    <input type="password" placeholder="PasswordBaru" name="password" [(ngModel)]="UpdateModel.passwordbaru">
                    <i class="fas fa-lock"></i>
                </div>
                <button class="submit">Ganti</button>
            </form>
        </div>
    </section>
</div>