/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); */


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

.body2 {
    min-height: 100vh;
    width: 100%;
    /* border: 3px solid red; */
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.divKosong {
    margin-top: 70px;
    width: 300%;
}

.card-custom {
    display: none;
}

.Back {
    display: none;
}

@media only screen and (max-width: 480px) {
    .body2 {
        min-height: 100vh;
        width: 100%;
        padding-top: 80px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    .card-custom {
        display: inline;
    }
    table {
        display: none;
    }
    .Back {
        display: inline;
    }
}