<div class="body2">
    <div class="container">
        <div class="row mt-4">
            <!-- <div *ngFor="let data of productDataTable">
            <p>{{data}}</p>
            <p>{{data.nama}}</p>
        </div> -->
            <div class="col-lg-3 mb-3">
                <button type="button" (click)="back()" class="btn btn-danger mb-3 Back animate__animated animate__fadeInDown">Back Halaman</button>
                <div class="card border-danger animate__animated animate__backInDown">
                    <div class="card-body ">
                        <h5 class="card-title text-danger"><strong>Info Menu</strong></h5>
                        <p class="card-text text-danger">Menu ini menampilkan history upload counter</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="alert alert-danger text-center animate__animated animate__rotateInDownLeft">
                    <strong>  COUNTER HISTORY </strong>
                </div>

                <!-- <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="nama" placeholder="Type to search by keterangan" [(ngModel)]="queryString" />{{queryString}}
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button"><i class="fas fa-search text-white"></i></button>
                            </div>
                        </div>
                    </div> -->
                <!-- </form> -->

                <table class="table table-bordered ml-1 text-left">
                    <thead>
                        <tr>
                            <th scope="col">Tanggal</th>
                            <th scope="col">Selish</th>
                            <th scope="col">Keterangan</th>
                            <th scope="col">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of detail_historyData | paginate: { itemsPerPage: 7, currentPage: p }">
                            <td> {{ data.tanggal | date:'fullDate' }}</td>
                            <td>{{ data.selisih }}</td>
                            <td>{{ data.keterangan }}</td>
                            <td>
                                <button type="button" (click)="ImageReview(data)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                       Image
                                    </button></td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event" class="text-center text-white nati"></pagination-controls>

                <div class="card-custom" *ngFor="let data of detail_historyData | paginate: { itemsPerPage: 2, currentPage: c }">
                    <div class="card border card-header mt-4 font-card bg-card animate__animated animate__rotateInDownLeft">
                        <span> <i class="fas fa-clipboard mr-2 "></i><strong>Detail Counter</strong>  </span>
                    </div>
                    <ul class="list-group list-group-flush border">
                        <li class="list-group-item font-list">Tanggal : <strong>{{ data.tanggal | date:'fullDate' }}</strong></li>
                        <li class="list-group-item font-list">Selish : <strong>{{ data.selisih }}</strong></li>
                        <li class="list-group-item font-list">Keterangan : <strong>{{ data.keterangan }}</strong></li>
                    </ul>
                    <div class="card-body border mb-3">
                        <button type="button" (click)="ImageReview(data)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            Image
                         </button>
                    </div>
                </div>
                <pagination-controls (pageChange)="c = $event" class="text-center text-white nati2"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<!-- | date:'EEEE, MMMM d, y -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle ">Image Upload</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <img [src]="imageSrc" class="img-thumbnail rounded mx-auto d-block" alt="Responsive image">

            </div>
        </div>
    </div>